body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: gray;
  width: 100%;
}

.box {
  width: 5rem;
  height: 5rem;
  background-color: red;
}

.spinner {
  width: 0.5rem;
  height: 3rem;
  background-color: green;
  border-radius: 10px;
}

.btn {
  width: 5rem;
  height: 2rem;
  background-color: black;
}

.stars-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.stars {
  width: 10px;
  height: 10px;
  background-color: white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
